:root {

    /* Tachyons palette */
    --t-black: #000000;
    --t-near-black: #111111;
    --t-dark-gray: #333333;
    --t-mid-gray: #555555;
    --t-gray: #777777;
    --t-silver: #999999;
    --t-light-silver: #AAAAAA;
    --t-moon-gray: #CCCCCC;
    --t-light-gray: #EEEEEE;
    --t-near-white: #F4F4F4;
    --t-white: #FFFFFF;
    --t-dark-red: #E7040F;
    --t-red: #FF4136;
    --t-light-red: #FF725C;
    --t-orange: #FF6300;
    --t-gold: #FFB700;
    --t-yellow: #FFD700;
    --t-dortmund: #FFFF00;
    --t-light-yellow: #FBF1A9;
    --t-purple: #5E2CA5;
    --t-light-purple: #A463F2;
    --t-dark-pink: #D5008F;
    --t-hot-pink: #FF41B4;
    --t-pink: #FF80CC;
    --t-light-pink: #FFA3D7;
    --t-dark-green: #137752;
    --t-green: #19A974;
    --t-light-green: #9EEBCF;
    --t-navy: #001B44;
    --t-dark-blue: #00449E;
    --t-blue: #357EDD;
    --t-light-blue: #96CCFF;
    --t-lightest-blue: #CDECFF;
    --t-washed-blue: #F6FFFE;
    --t-washed-green: #E8FDF5;
    --t-washed-yellow: #FFFCEB;
    --t-washed-red: #FFDFDF;
    
    /* Typeface */
    --serif: Georgia, serif;
    --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, sans-serif;
    --monospace: "IBM Plex Mono", "Fira Code", Menlo, Consolas, monospace;
    --font-size: 112.5%;
    --font-size-m: 118.75%;
    --font-size-l: 118.75%;
    --font-size-code: 87.5%;
    --lh-copy: 1.35rem;
    --lh-copy-m: 1.4rem;
    --lh-copy-l: 1.45rem;
    --lh-title: 1.2;
    --lh-title-m: 1.2;
    --lh-title-l: 1.2;
    --text-decoration-thickness: 2px;
    --title-heading-font-family: var(--sans-serif);
    --title-heading-weight: bold;
    --title-heading-font-style: italic;
    --article-heading-font-family: var(--sans-serif);
    --article-heading-weight: bold;
    --article-heading-mt: 2.25rem;
    --article-heading-mb: 1rem;
    --article-heading-mb: 1rem;
    --article-heading-font-style: normal;
    --article-font-size-h2: 1.25rem;
    --article-font-size-h3: 1rem;

    /* Layout */
    --measure: 30rem;
    --half-measure: calc(var(--measure) / 2);
    --one-and-a-half-measure: calc(var(--measure) * 1.5);
    --bleed-width: calc(100% + 2rem);
    --bleed-width-ns: calc(100% + 4rem);
    --pull-left: -1rem;
    --pull-left-ns: -2rem;
    --wrapper: 60rem;

    /* Colours */
    --accent: #0ABEFD;
    --link: var(--t-black);
    --visited: var(--t-mid-gray);
    --hover: var(--t-black);
    --nav-link: var(--t-black);
    --text-decoration-color: var(--accent);
    --foreground: var(--t-dark-gray);
    --bg: var(--t-white);
    --pre-foreground: var(--code-color);
    --pre-bg: var(--t-near-white);
    --title-color: var(--t-black);
    --article-heading-color: var(--t-black);
    --bg-button: var(--t-dark-blue);
    --bg-button--hover: var(--accent);
    --foreground-button: var(--t-white);
    --code-color: var(--foreground);

    /* Rules and borders */
    --border-img-color: var(--t-moon-gray);
    --border-form-color: var(--t-light-silver);
    --compulsory: var(--t-dark-red)

}

@media (prefers-color-scheme: dark) {

    :root {

    /* Colours */
    --accent: #F5B042;
    --link: var(--t-white);
    --visited: var(--t-light-silver);
    --hover: var(--t-white);
    --nav-link: var(--t-black);
    --text-decoration-color: var(--accent);
    --foreground: var(--t-moon-gray);
    --bg: var(--t-dark-gray);
    --pre-bg: var(--t-black);
    --title-color: var(--t-white);
    --article-heading-color: var(--t-moon-gray);
    --compulsory: var(--t-light-pink);
    --bg-button: var(--t-light-blue);
    --bg-button--hover: var(--accent);
    --foreground-button: var(--t-black);

    /* Rules and borders */
    --border-img-color: var(--t-gray);
    --border-form-color: var(--t-gray);

    }

}

html {
    font-size: var(--font-size);
}

@media screen and (min-width: 30em) {
    html {
        font-size: var(--font-size-m);
    }   
}

@media screen and (min-width: 60em) {
    html {
        font-size: var(--font-size-l);
    }   
}

a {
    text-decoration-thickness: var(--text-decoration-thickness);
}

a:link {
    color: var(--link);
}

a:visted {
    color: var(--visited);
}

a:hover,
a:active,
a:focus {
    color: var(--hover);
}

.nav-link a {
    color: var(--nav-link);
}

.c-measure {
    max-width: var(--measure);
}

.c-wrapper {
    max-width: var(--wrapper);
}

.c-bg {
    background-color:  var(--bg);
}

.c-foreground {
    color: var(--foreground);
}

.c-sans-serif {
    font-family: var(--sans-serif);
}

.serif {
    font-family: var(--serif);
}

.c-lh-copy {
    line-height: var(--lh-copy);
}

@media screen and (min-width: 30em) {
    .c-lh-copy {
        line-height: var(--lh-copy-m);
    }
}

@media screen and (min-width: 60em) {
    .c-lh-copy {
        line-height: var(--lh-copy-l);
    }   
}

.c-lh-title {
    line-height: var(--lh-title);
}

@media screen and (min-width: 30em) {
    .c-lh-title {
        line-height: var(--lh-title-m);
    }  
}

@media screen and (min-width: 60em) {
    .c-lh-title {
        line-height: var(--lh-title-l);
    }   
}